<h1>Juye's Todo Listss</h1>
<% @task.each do |item| %>
  <%= item.description %>
  <% unless item.due_date.blank? %>
  <%= '- ' %>
  <%= item.due_date %>
  <% end %>
<% end %>
<form action='/' method='POST'>
  <strong>Insert a new task:</strong>
  <input type='text' name='task' placeholder='task content' />
  <input type='text' name='date' placeholder='due date' />
  <input type='submit' value='Save'>
</form>

<form action="/some_endpoint" method="POST">
  <input type="hidden" name="some_constant_data" value="<%= %>"/>
  <input type="submit" value="submit button"/>
</form>


<form action='/delete' method='POST'>
  <strong>Delete a task:</strong>
  <input type='text' name='task' placeholder='task content' />
  <input type='submit' value='Save'>
</form>
