/*
h1 {
  font-weight: bold;
}

body {
  text-decoration: underline;
}
*/

.picture1 {
  position:absolute;
  left:0%;
  top: 0%;
  width:0%;
  transform: scale(0.27, 0.27);
  -ms-transform: scale(0.27, 0.27);
  -webkit-transform: scale(0.27, 0.27);
}

.wrapper2 {
  width: 70%;
  margin: 1000px auto;
  background: #FFE4E1;
  padding: 100px;
  border: 16px solid #FFB6C1;
}


/* <div id="main-header"> </div>*/
.main-header {
  line-height: 2;
}

p {
  color: red;
}

/* class="permanent" */
.permanent {
  background: grey;
}
